extends ./default

block head       
  link(rel="stylesheet", href="#{__css_location}/bootstrap.css")
  link(rel="stylesheet", href="#{__css_location}/bootstrap-theme.css")
  link(rel="stylesheet", href="#{__css_location}/font-awesome.css")
  link(rel="stylesheet", href="#{__css_location}/datatables.css")
  link(rel="stylesheet", href="#{__css_location}/datatables-fix.css")
  link(rel="stylesheet", href="#{__css_location}/main.css")

  script(src="#{__js_location}/angular/system-polyfills.js")
  script(src="#{__js_location}/angular/system.js")
  script(src="#{__js_location}/system-config.js")
  script(src="#{__js_location}/angular/Rx.umd.js")
  script(src="#{__js_location}/angular/angular2-polyfills.js")
  script(src="#{__js_location}/angular/angular2-all.umd.dev.js")
  script(src="#{__js_location}/angular/http.js")
  script(src="#{__js_location}/angular/router.js")
  script(src="#{__js_location}/jquery.js")
  script(src="#{__js_location}/bootstrap.js")
  script(src="#{__js_location}/validate.js")
  script(src="#{__js_location}/notify.js")
  script(src="#{__js_location}/datatables.js")
  script(src="#{__js_location}/datatables-fix.js")
  script(src="#{__js_location}/main.js")

block body
  include ../template/fixed-navbar

  div.container
    block content

  br

  div.container.center
    include footer
