doctype html

if __global_config.profile == "dev" || __global_config.profile == "stage"
  - var __js_location = "/resources/js"
  - var __css_location = "/resources/css"
else
  - var __js_location = "/resources/js-min"
  - var __css_location = "/resources/css-min"

html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="_csrf", content="#{_csrf.token}")
    meta(name="_csrf_header", content="#{_csrf.headerName}")

    block title
      title Default title
      
    block fav-ico
      link(rel="shortcut icon", type="image/x-icon",
        href="/resources/favico.ico")

    block head
    
  body
  
    block body