block footer
  h6 &copy; Daniel Castro
  
  if __global_config.profile == "dev"
    h2.alert.alert-warning Development mode!
    
  if __global_config.profile == "stage"
    h2.alert.alert-warning Stage mode!
    