.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

@media (max-width: 767px) {
  .span-h6 {
    font-size: 1em;
  }

  .span-h5 {
    font-size: 1.05em;
  }

  .span-h4 {
    font-size: 1.1025em;
  }

  .span-h3 {
    font-size: 1.15763em;
  }

  .span-h2 {
    font-size: 1.21551em;
  }

  .span-h1 {
    font-size: 1.27628em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .span-h6 {
    font-size: 1em;
  }

  .span-h5 {
    font-size: 1.1em;
  }

  .span-h4 {
    font-size: 1.21em;
  }

  .span-h3 {
    font-size: 1.331em;
  }

  .span-h2 {
    font-size: 1.4641em;
  }

  .span-h1 {
    font-size: 1.61051em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .span-h6 {
    font-size: 1em;
  }

  .span-h5 {
    font-size: 1.15em;
  }

  .span-h4 {
    font-size: 1.3225em;
  }

  .span-h3 {
    font-size: 1.52087em;
  }

  .span-h2 {
    font-size: 1.74901em;
  }

  .span-h1 {
    font-size: 2.01136em;
  }
}
@media (min-width: 1200px) {
  .span-h6 {
    font-size: 1em;
  }

  .span-h5 {
    font-size: 1.2em;
  }

  .span-h4 {
    font-size: 1.44em;
  }

  .span-h3 {
    font-size: 1.728em;
  }

  .span-h2 {
    font-size: 2.0736em;
  }

  .span-h1 {
    font-size: 2.48832em;
  }
}
@keyframes hoverAnimatedBackground {
  0% {
    background-position: 0% 51%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 51%;
  }
}

div.proj-product {
  margin: 0.1em;
  width: 15em;
  display: inline-block;
}

div.proj-product:hover {
  background-size: 400% 400%;
  background-image: linear-gradient(93deg, #f2f2f2, white);
  animation: hoverAnimatedBackground 4s ease infinite;
  cursor: pointer;
}

div.proj-prod-img-cnt {
  padding: 0;
}
div.proj-prod-img-cnt img {
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.fill-navbar {
  height: 4em;
  width: 100%;
}

/*.cst-btn-save {
  .btn;
  .btn-info;
  .btn-lg;
}*/
