nav.navbar.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(type="button", 
      data-toggle="collapse", data-target="#navbar",
      aria-expanded="false", aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a.navbar-brand(href="/") Template application
    div.navbar-collapse.collapse(id="navbar")
      ul(class="nav navbar-nav")
        li(class="dropdown")
          a(href="#", class="dropdown-toggle", data-toggle="dropdown",
            role="button", aria-haspopup="true"
            aria-expanded="false") Dropdown
            span(class="caret")
          ul(class="dropdown-menu")
            li
              a(href="#") Action
            li
              a(href="#") Another action
            li
              a(href="#") Something else here
            li(role="separator", class="divider")
            li(class="dropdown-header") Nav header
            li
              a(href="#") Separated link
            li
              a(href="#") One more separated link
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") #{auth.user.username}
        if auth == true
          li
            a(href="/logout") Log out
        else
          li
            a(href="/login") Log in

div.fill-navbar(id="navbar-page-padding")

