div.container.well.proj-product
  div.row
    div.col-xs-12
      h5.center.proj-product-name
      | Product Name
  div.row
    div.col-xs-12.proj-prod-img-cnt
      img(alt="some image for product",
      src="/resources/images/image_not_available.png")
    div.col-xs-12
      h6.proj-product-price
      | Price: 9.99 €
  div.row
    div.col-xs-6
      button.btn.btn-xs.btn-default.btn-info.proj-product-see
        | See details
    div.col-xs-6
      button.btn.btn-xs.btn-default.btn-info.proj-product-add
        | Add to cart