@import "functions", "variables";

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

@media (max-width: 767px) {
  @for $i from 0 through 5 {
    .span-h#{6 - $i} {
      font-size: $base-size * pow($s-multiplier, $i);
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  @for $i from 0 through 5 {
    .span-h#{6 - $i} {
      font-size: $base-size * pow($m-multiplier, $i);
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  @for $i from 0 through 5 {
    .span-h#{6 - $i} {
      font-size: $base-size * pow($l-multiplier, $i);
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 0 through 5 {
    .span-h#{6 - $i} {
      font-size: $base-size * pow($xl-multiplier, $i);
    }
  }
}

@keyframes hoverAnimatedBackground { 
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

div.proj-product {
  margin: 0.1em;
  width: 15em;
  display: inline-block;
}

div.proj-product:hover {
  background-size: 400% 400%;
  background-image: linear-gradient(93deg, $white-grey, $white);

  animation: hoverAnimatedBackground 4s ease infinite;
  cursor: pointer;
}


div.proj-prod-img-cnt {
  padding: 0;
  img {
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}



div.fill-navbar {
  height: 4em;
  width: 100%;
}

/*.cst-btn-save {
  .btn;
  .btn-info;
  .btn-lg;
}*/

