extends ./layout/classic

block title
  title books

block content
  ol#books
    for book in books
      if book.available
        li #{book.name} for #{book.price} €
        
  button.cst-btn-save save?
    i.fa.fa-check

    //
      table#example-table
        - var row = 1;
        - var col = 1; 
        thead
          tr
            while col < 4
              th header#{col}
              - col++;
            - col = 1;
        tbody
          while row < 101
            tr
              while col < 4
                td line-#{row}-col#{col}
                - col++;
              - col = 1;
            - row++;

  table#example-table

  div.container
    div.row
      div.col-sm-12
        include ./template/components/product-div.jade
        include ./template/components/product-div.jade
        include ./template/components/product-div.jade
        include ./template/components/product-div.jade
        include ./template/components/product-div.jade
        include ./template/components/product-div.jade
        
  script(src="#{__js_location}/app/example.js")
    