extend ./layout/classic.jade

block title
  title login

block content
  #mainWrapper
    .login-container
      .login-card
        .login-form
          form.form-horizontal(action='/login', method='post')
            pre #{param}
            if param.error != null
              .alert.alert-danger
                p Invalid username and password.
            | 
            if param.logout != null
              .alert.alert-success
                p You have been logged out successfully.
            | 
            .input-group.input-sm
              label.input-group-addon(for='username')
                i.fa.fa-user
              | 
              input#username.form-control(type='text', name='username',
                placeholder='Enter Username', required='')
            | 
            .input-group.input-sm
              label.input-group-addon(for='password')
                i.fa.fa-lock
              | 
              | 
              input#password.form-control(type='password', name='password',
                placeholder='Enter Password', required='')
            | 
            input(type='hidden', name='#{_csrf.parameterName}',
              value='#{_csrf.token}')
            | 
            | 
            .form-actions
              input.btn.btn-block.btn-primary.btn-default(type='submit',
                value='Log in')
